<ng-container *transloco="let t">
  <form (ngSubmit)="submit()" #f="ngForm">
    <fieldset>
      <label for="date">{{ t('date') }}</label>
      <input
        type="date"
        [placeholder]="t('date')"
        id="date"
        name="date"
        [(ngModel)]="date"
        useValueAsLocalDate
        required />
    </fieldset>

    <fieldset>
      <label for="amount">{{ t('amount') }}</label>
      <input
        type="number"
        [placeholder]="t('amount')"
        id="amount"
        name="amount"
        [(ngModel)]="amount"
        min="0.01"
        required />
    </fieldset>

    <fieldset>
      <label for="description">{{ t('description') }}</label>
      <textarea
        id="description"
        name="description"
        [(ngModel)]="description"
        maxlength="250"></textarea>
    </fieldset>

    <fieldset>
      <legend>{{ t('recurring') }}</legend>
      <div>
        <input
          type="radio"
          id="recurringMonthly"
          name="recurringMonthly"
          value="MONTHLY"
          [(ngModel)]="recurring" />
        <label for="recurringMonthly">{{ t('monthly') }}</label>

        <input
          type="radio"
          id="recurringYearly"
          name="recurringYearly"
          value="YEARLY"
          [(ngModel)]="recurring" />
        <label for="recurringYearly">{{ t('yearly') }}</label>
      </div>
    </fieldset>

    <fieldset>
      <app-select-category
        [(categoryId)]="categoryId"
        [categories]="categories"></app-select-category>
    </fieldset>

    <app-button [disabled]="!f.valid" [variant]="'primary'">{{
      t('save')
    }}</app-button>
  </form>
</ng-container>
