<ng-container *transloco="let t">
  <form (ngSubmit)="submit()" #f="ngForm">
    <fieldset class="mb-5">
      <label appLabel for="date">{{ t('date') }}</label>
      <input
        appInput
        type="date"
        [placeholder]="t('date')"
        id="date"
        name="date"
        [(ngModel)]="date"
        useValueAsLocalDate
        required />
    </fieldset>

    <fieldset class="mb-5">
      <label appLabel for="amount">{{ t('amount') }}</label>
      <input
        appInput
        type="number"
        [placeholder]="t('amount')"
        id="amount"
        name="amount"
        [(ngModel)]="amount"
        inputmode="decimal"
        min="0.01"
        required />
    </fieldset>

    <fieldset class="mb-5">
      <label appLabel for="description">{{ t('description') }}</label>
      <textarea
        appInput
        id="description"
        name="description"
        [(ngModel)]="description"
        maxlength="250"></textarea>
    </fieldset>

    <fieldset class="mb-5">
      <legend class="mb-2 block text-sm font-medium leading-6 text-gray-900">
        {{ t('interval') }}
      </legend>
      <div class="grid auto-cols-max grid-flow-col gap-4">
        <div>
          <input
            type="radio"
            id="intervalOneTime"
            name="intervalOneTime"
            [value]="'ONE_TIME'"
            [(ngModel)]="interval" />
          <label for="intervalOneTime" class="ms-1.5">{{ t('oneTime') }}</label>
        </div>
        <div>
          <input
            type="radio"
            id="intervalMonthly"
            name="intervalMonthly"
            [value]="'MONTHLY'"
            [(ngModel)]="interval" />
          <label for="intervalMonthly" class="ms-1.5">{{ t('monthly') }}</label>
        </div>
        <div>
          <input
            type="radio"
            id="intervalYearly"
            name="intervalYearly"
            [value]="'YEARLY'"
            [(ngModel)]="interval" />
          <label for="intervalYearly" class="ms-1.5">{{ t('yearly') }}</label>
        </div>
      </div>
    </fieldset>

    <fieldset class="mb-6">
      <app-select-category
        [(categoryId)]="categoryId"
        [categories]="categories"></app-select-category>
    </fieldset>

    <button appButton class="w-full" [disabled]="!f.valid" [color]="'primary'">
      {{ t('save') }}
    </button>
  </form>
</ng-container>
