<ng-container *transloco="let t">
  <h2 appHeadline>
    @if (selectedCategory) {
      {{ t('updateCategory') }}
    } @else {
      {{ t('newCategory') }}
    }
  </h2>
  <form (ngSubmit)="submit()" #f="ngForm">
    <fieldset class="mb-5">
      <label appLabel for="title">{{ t('title') }}</label>
      <input
        appInput
        type="text"
        [placeholder]="t('title')"
        id="title"
        name="title"
        [(ngModel)]="title"
        required
        minlength="4" />
    </fieldset>
    <button appButton [disabled]="!f.valid" [color]="'primary'">
      {{ t('save') }}
    </button>
  </form>
</ng-container>
