<ng-container *transloco="let t">
  <app-headline>
    @if (selectedCategory) {
      {{ t('updateCategory') }}
    } @else {
      {{ t('newCategory') }}
    }
  </app-headline>
  <form (ngSubmit)="submit()" #f="ngForm">
    <fieldset class="mb-5">
      <app-label [labelFor]="'title'">{{ t('title') }}</app-label>
      <input
        appInput
        type="text"
        [placeholder]="t('title')"
        id="title"
        name="title"
        [(ngModel)]="title"
        required
        minlength="4" />
    </fieldset>
    <app-button [disabled]="!f.valid" [variant]="'primary'">{{
      t('save')
    }}</app-button>
  </form>
</ng-container>
