<ng-container *transloco="let t">
  @if (transactions.length >= 1) {
    <ul
      class="divide-y divide-gray-200 rounded-md border border-gray-200 bg-white shadow-sm">
      @for (transaction of transactions; track transaction.id) {
        <app-transaction-list-item
          [transaction]="transaction"
          [categories]="categories"
          [filter]="filter"
          (updateTransaction)="
            updateTransaction.emit($event)
          "></app-transaction-list-item>
      }
    </ul>
  } @else {
    <p>{{ t('noItems') }}</p>
  }
</ng-container>
