<ng-container *transloco="let t">
  <div class="mb-4 grid grid-cols-2 gap-4">
    <span class="text-green-600"
      >{{ t('earnings') }}: {{ totalEarnings | currency }}</span
    ><span class="text-red-600"
      >{{ t('spendings') }}: -{{ totalSpendings | currency }}</span
    >
  </div>
  @if (transactions.length >= 1) {
    <ul>
      @for (transaction of transactions; track transaction.id) {
        <li
          [ngClass]="{
            'text-text-green-600': transaction.type === 'EARNING',
            'text-red-600': transaction.type === 'SPENDING'
          }">
          <p>
            {{ transaction.date | date: 'short' }}
            @if (transaction.description) {
              {{ transaction.description }}
            }
            @if (transaction.type === 'SPENDING') {
              -{{ transaction.amount | currency }}
            } @else {
              {{ transaction.amount | currency }}
            }
            @if (transaction.recurring) {
              {{ transaction.recurring }}
            }
            @if (transaction.categoryId) {
              {{ t('category') }}: {{ transaction.categoryId }}
            }
          </p>
          <app-button
            (buttonClick)="deleteTransaction.emit(transaction.id)"
            [ariaLabel]="t('delete')">
            <ng-icon name="heroTrash"></ng-icon></app-button
          ><app-button
            (buttonClick)="updateTransaction.emit(transaction.id)"
            [ariaLabel]="t('update')">
            <ng-icon name="heroPencilSquare"></ng-icon>
          </app-button>
        </li>
      }
    </ul>
  } @else {
    <p>{{ t('noItems') }}</p>
  }
</ng-container>
