<ng-container *transloco="let t">
  <li
    class="grid cursor-pointer grid-cols-[1fr_auto] items-center gap-3 px-3 py-3.5"
    (click)="updateTransaction.emit(transaction.id)">
    <div>
      <p class="mb-1 text-xs text-gray-500">
        {{ date | date: 'shortDate' }}
        @if (transaction.interval !== 'ONE_TIME') {
          &#x2022; {{ transaction.interval | lowercase | transloco }}
        }
        @if (category) {
          &#x2022; {{ category.title }}
        }
      </p>
      <p class="font-medium text-gray-900">
        {{ transaction.description ?? '-' }}
      </p>
    </div>
    <div>
      @if (transaction.type === 'SPENDING') {
        <span class="text-red-600">-{{ transaction.amount | currency }}</span>
      } @else {
        <span class="text-green-600">{{ transaction.amount | currency }}</span>
      }
    </div>
  </li>
</ng-container>
