<ng-container *transloco="let t">
  <app-label [labelFor]="'category'">{{ t('category') }}</app-label>
  <select
    class="w-full rounded-md border border-gray-300 px-2 py-2 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm"
    id="category"
    [(ngModel)]="categoryId"
    (ngModelChange)="categoryIdChange.emit($event)">
    <option [ngValue]="null">{{ t('selectCategory') }}</option>
    @for (category of categories; track category.id) {
      <option [ngValue]="category.id">{{ category.title }}</option>
    }
  </select>
</ng-container>
