<ng-container *transloco="let t">
  @if (filter) {
    <form>
      <div class="grid grid-cols-2 gap-4">
        <fieldset>
          <app-select-category
            [(categoryId)]="filter.categoryId"
            (categoryIdChange)="submit()"
            [categories]="categories"></app-select-category>
        </fieldset>
        <fieldset>
          <legend
            class="mb-2 block text-sm font-medium leading-6 text-gray-900">
            {{ t('date') }}
          </legend>
          <div class="flex gap-2">
            <div class="flex-grow">
              <select
                class="w-full rounded-md border border-gray-300 px-2 py-2 shadow-sm focus:border-indigo-600 focus:ring-indigo-500 sm:text-sm"
                id="month"
                name="month"
                [(ngModel)]="filter.month"
                (ngModelChange)="submit()"
                [attr.aria-label]="t('month')"
                required>
                @for (month of months; track $index) {
                  <option [ngValue]="$index">{{ month }}</option>
                }
              </select>
            </div>
            <div>
              <select
                id="year"
                class="rounded-md border border-gray-300 px-2 py-2 shadow-sm focus:border-indigo-600 focus:ring-indigo-500 sm:text-sm"
                name="year"
                [(ngModel)]="filter.year"
                (ngModelChange)="submit()"
                [attr.aria-label]="t('year')"
                required>
                @for (year of years; track $index) {
                  <option [ngValue]="year">{{ year }}</option>
                }
              </select>
            </div>
          </div>
        </fieldset>
      </div>
    </form>
  }
</ng-container>
