<h1>Earnings and spendings</h1>
<app-new-transaction
  [type]="'EARNING'"
  [categories]="categories()"
  [selectedTransaction]="selectedTransaction()"
  (saveTransaction)="saveTransaction($event)"></app-new-transaction>
<app-new-transaction
  [type]="'SPENDING'"
  [categories]="categories()"
  [selectedTransaction]="selectedTransaction()"
  (saveTransaction)="saveTransaction($event)"></app-new-transaction>
<app-new-category (addCategory)="addCategory($event)"></app-new-category>
<app-filter [categories]="categories()"></app-filter>
<app-transaction-list
  [transactions]="transactions()"
  (deleteTransaction)="deleteTransaction($event)"
  (updateTransaction)="selectTransaction($event)"></app-transaction-list>
