<h1>Earnings and spendings</h1>
<app-new-transaction
  [type]="'EARNING'"
  [categories]="categories()"
  (addTransaction)="addTransaction($event)"></app-new-transaction>
<app-new-transaction
  [type]="'SPENDING'"
  [categories]="categories()"
  (addTransaction)="addTransaction($event)"></app-new-transaction>
<app-new-category (addCategory)="addCategory($event)"></app-new-category>
<app-filter [categories]="categories()"></app-filter>
<app-transaction-list [transactions]="transactions()"></app-transaction-list>
