<ng-container *transloco="let t">
  @if (categories.length >= 1) {
    <ul>
      @for (category of categories; track category.id) {
        <li>
          <p>
            {{ category.title }}
          </p>
          <app-button (buttonClick)="deleteCategory.emit(category.id)">
            {{ t('delete') }}</app-button
          ><app-button (buttonClick)="updateCategory.emit(category.id)">
            {{ t('update') }}
          </app-button>
        </li>
      }
    </ul>
  } @else {
    <p>{{ t('noItems') }}</p>
  }
</ng-container>
