<ng-container *transloco="let t">
  @if (categories.length >= 1) {
    <ul>
      @for (category of categories; track category.id) {
        <li>
          <p>
            {{ category.title }}
          </p>
          <button
            appButton
            (click)="deleteCategory.emit(category.id)"
            [attr.aria-label]="t('delete')">
            <ng-icon name="heroTrash"></ng-icon></button
          ><button
            appButton
            (click)="updateCategory.emit(category.id)"
            [attr.aria-label]="t('update')">
            <ng-icon name="heroPencilSquare"></ng-icon>
          </button>
        </li>
      }
    </ul>
  } @else {
    <p>{{ t('noItems') }}</p>
  }
</ng-container>
