<ng-container *transloco="let t">
  <app-page [title]="title">
    <app-transaction-form
      [type]="transaction()?.type ?? type"
      [transaction]="transaction()"
      [categories]="categories()"
      (saveTransaction)="saveTransaction($event)"></app-transaction-form>
  </app-page>
  <app-transaction-form
    [type]="transaction()?.type ?? type"
    [transaction]="transaction()"
    [categories]="categories()"
    (saveTransaction)="saveTransaction($event)"></app-transaction-form>
</ng-container>
