<ng-container *transloco="let t">
  <app-page [title]="t('appTitle')" [showBackButton]="false">
    <div class="mb-5 grid grid-cols-2 gap-4">
      <app-button
        [fullWidth]="true"
        [variant]="'success'"
        (buttonClick)="newEarning()">
        {{ t('newEarning') }}
      </app-button>
      <app-button
        [fullWidth]="true"
        [variant]="'danger'"
        (buttonClick)="newSpending()">
        {{ t('newSpending') }}
      </app-button>
    </div>
    <h2 appHeadline>{{ t('overview') }}</h2>
    <app-filter
      class="mb-5 block"
      [categories]="categories()"
      [filter]="filter()"
      (filterChange)="filterTransactions($event)"></app-filter>
    <app-transaction-list
      [transactions]="transactions()"
      [totalEarnings]="totalEarnings()"
      [totalSpendings]="totalSpendings()"
      (deleteTransaction)="deleteTransaction($event)"
      (updateTransaction)="updateTransaction($event)"></app-transaction-list>
  </app-page>
</ng-container>
