<ng-container *transloco="let t">
  <app-page [title]="t('appTitle')" [showBackButton]="false">
    <div class="mb-6 grid grid-cols-2 gap-4">
      <button
        class="w-full"
        appButton
        [color]="'success'"
        [routerLink]="['/new-transaction', 'earning']">
        {{ t('newEarning') }}
      </button>
      <button
        class="w-full"
        appButton
        [color]="'danger'"
        [routerLink]="['/new-transaction', 'spending']">
        {{ t('newSpending') }}
      </button>
    </div>
    <h2 appHeadline class="mb-3">{{ t('overview') }}</h2>
    <app-transaction-summary
      [totalEarnings]="totalEarnings()"
      [totalSpendings]="totalSpendings()">
    </app-transaction-summary>
    <app-filter
      class="mb-5 block"
      [categories]="categories()"
      [filter]="filter()"
      [monthNames]="monthNames"
      (filterChange)="filterTransactions($event)"></app-filter>
    <app-transaction-list
      [transactions]="transactions()"
      [categories]="categories()"
      (deleteTransaction)="deleteTransaction($event)"
      (updateTransaction)="updateTransaction($event)"></app-transaction-list>
  </app-page>
</ng-container>
