<button
  (click)="buttonClick.emit()"
  [disabled]="disabled"
  [ngClass]="{
    'pointer-events-none opacity-45': disabled,
    'border-blue-700 bg-blue-700 shadow-sm hover:border-blue-600 hover:bg-blue-600 focus-visible:outline-blue-700':
      variant === 'primary',
    'border-red-600 bg-red-600 shadow-sm hover:border-red-500 hover:bg-red-500 focus-visible:outline-red-600':
      variant === 'danger',
    'border-green-600 bg-green-600 shadow-sm hover:border-green-500 hover:bg-green-500 focus-visible:outline-green-600':
      variant === 'success',
    'border-transparent text-gray-400 hover:border-transparent hover:text-gray-900 focus-visible:outline-slate-500':
      variant === 'default',
    'w-full': fullWidth,
    'text-white': variant !== 'default'
  }"
  [attr.aria-current]="ariaLabel"
  class="inline-flex cursor-pointer items-center justify-center rounded-md border px-3 py-2 text-white transition-all focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2">
  <ng-content></ng-content>
</button>
